/*----------------------------------------------------------------------------------------------------------------------
Zero To Mastery Academy
Complete Web Developer in 2025: Zero to Mastery
Application Programming Interface :: Chuck Norris Jokes :: Webpage Styles
----------------------------------------------------------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
}

/* header ------------------------------------------------------------------------------------------------------------*/

header {
    position: sticky;
    top: 0;
    max-width: 728px;
    margin: 0 auto 30px;
    box-shadow: 0 3px 5px #8b4513;
    padding: 20px;
    background-color: #333;
    color: #f5deb3;
}

header > h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.exit-btn, .nav-btn {
    position: absolute;
    top: 26px;
    margin: 0;
    border: none;
    padding: 0;
    background-color: #333;
    color: #f5deb3;
    font-size: 32px;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.exit-btn {
    left: 20px;
}

.nav-btn {
    right: 20px;
}

.exit-btn:hover, .nav-btn:hover {
    transform: scale(1.5);
}

.exit-btn:active, .nav-btn:active {
    color: #fff;
    text-shadow: 0 0 10px #fff;
}

/* navigation menu ---------------------------------------------------------------------------------------------------*/

#nav-menu {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 688px;
    height: 75vh;
    padding: 20px 30px;
    background-color: #d2b48c;
    opacity: 0;
    transition: opacity 0.333s ease-in-out;
    pointer-events: none;
}

#nav-menu.open {
    opacity: 1;
    pointer-events: auto;
}

#nav-menu > a {
    display: block;
    padding: 10px 0;
    text-align: left;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

#nav-menu > a:hover {
    background-color: #f5deb3;
}

#nav-menu > a:active {
    background-color: #fff;
}

#nav-menu > a > p {
    margin: 0;
}

#nav-menu > a > p > i {
    margin-right: 15px;
}

#nav-menu > a:nth-of-type(4) > p > i {
    color: #0962ac;
}

#nav-menu > a:last-of-type > p > i {
    color: red;
}

#nav-menu > hr {
    height: 2px;
    margin: 10px 0;
    border: none;
    background-color: #f5deb3;
}

/* main content ----------------------------------------------------------------------------------------------------- */

#chuck-image {
    display: block;
    width: auto;
    height: 300px;
    margin: 0 auto 30px;
    box-shadow: 0 0 10px #8b4513;
    border: none;
    border-radius: 50%;
    transition: box-shadow 0.2s ease-in-out;
}

#chuck-image:hover {
    box-shadow: 0 0 30px #8b4513;
}

#joke-text {
    max-width: 718px;
    margin: 0 auto 30px;
    box-shadow: 0 0 10px #8b4513;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffdead;
    text-align: center;
    line-height: 1.5;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    transition: box-shadow 0.2s ease-in-out;
}

#joke-text:hover {
    box-shadow: 0 0 30px #8b4513;
}

#joke-btn {
    display: block;
    margin: 0 auto 30px;
    box-shadow: 0 0 10px #8b4513;
    border: none;
    border-radius: 32px;
    padding: 20px;
    background-color: #a0522d;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

#joke-btn:hover {
    box-shadow: 0 0 30px #8b4513;
}

#joke-btn:active {
    background-color: #ffdead;
    color: #000;
}

/* footer ----------------------------------------------------------------------------------------------------------- */

footer {
    max-width: 768px;
    margin: 0 auto;
}

footer > hr {
    height: 2px;
    margin: 0 0 30px;
    border: none;
    background-color: #d2b48c;
}

footer > p {
    margin: 0 0 15px;
    padding: 0;
    text-align: center;
    color: #d2b48c;
    font-size: 16px;
}

footer > p > a {
    color: #d2b48c;
    text-decoration: none;
}

footer > p > a:hover {
    color: blue;
    text-decoration: underline;
}
