/*
Zero To Mastery Academy
Complete Web Developer in 2025: Zero to Mastery
Application Programming Interface :: Chuck Norris Jokes :: Webpage Styles
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #333;
    padding: 1em;
}

.nav-toggle {
    position: absolute;
    top: 1em;
    left: 1em;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5em;
    cursor: pointer;
}

/* .nav-toggle:hover {
    background-color: #444;
} */

/* main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
} */

#chuck-image {
    display: block;
    width: auto;
    height: 300px;
    margin: 0 auto 30px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

#chuck-image:hover {
    box-shadow: 5px 5px 30px #8b4513;
    transform: scale(1.1);
}

#joke-text {
    max-width: 800px;
    margin: 0 auto 30px;
    box-shadow: 0 0 10px #8b4513;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffdead;
    text-align: center;
    line-height: 1.5;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

#joke-text:hover {
    box-shadow: 0 0 30px #8b4513;
}

#joke-btn {
    display: block;
    margin: 0 auto 30px;
    border: none;
    border-radius: 32px;
    padding: 20px;
    background-color: #a0522d;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#joke-btn:hover {
    background-color: #ffdead;
    color: #000;
}

/* footer ----------------------------------------------------------------------------------------------------------- */

footer > hr {
    max-width: 840px;
    height: 3px;
    margin-bottom: 30px;
    border: none;
    background-color: #d2b48c;
}

footer > p {
    color: #d2b48c;
    text-align: center;
}
