/*######################################################################################################################
Zero To Mastery Academy
Complete Web Developer in 2025: Zero to Mastery
Document Object Model | DOM Events | Input Field Styles
######################################################################################################################*/

#user-input {
  display: block;
  width: calc(320px - 60px);
  margin: 0 auto 20px;
  box-shadow: 0 0 10px #8b4513;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

#enter-btn {
  display: block;
  width: 150px;
  margin: 0 auto 30px;
  box-shadow:
    0 0 5px #f5deb3 inset,
    0 0 10px #333;
  border-radius: 10px;
  padding: 10px;
  background-color: #a0522d;
  color: #ffdead;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
#enter-btn:hover {
  transform: scale(0.98);
  box-shadow: 0 0 10px #333 inset;
}
#enter-btn:active {
  box-shadow: 0 0 10px #a0522d inset;
  background-color: #ffdead;
  color: #a0522d;
}
