/* Project style sheet */

html, body {
  width: 100%;
  height: 100%;
  background: url(header.jpg) center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3rem;
  color: navajowhite;
}

hr {
  border: 3px solid orangered;
  color: orangered;
  opacity: 1;  
}

.btn {
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-primary {
  border-color: orangered;
  background-color: orangered;
}

.btn-primary:hover {
  border-color: #912900;
  background-color: #912900;
}

.btn-xl {
  padding: 1rem 2rem;
}
