/*
 * Zero To Mastery Academy
 * Complete Web Developer in 2025: Zero to Mastery
 * Layout Master Project
 */

body {
    margin: auto 0;
}

/*** navigation bar ***************************************************************************************************/

.nav-top {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.5em;
}

@media screen and (max-width: 600px) {
    .nav-top {
        font-size: 1em;
    }
}

li {
    padding: 20px;
}

.push-right {
    margin-left: auto;
}

a {
    color: #eee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*** cover ************************************************************************************************************/

.cover-container {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2em;
}

/*** content grid *****************************************************************************************************/

.grid-container {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
}

.box {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 25%;
    background-color: #555;
    align-items: center;
    transition: all 0.25s linear;
}

.box:hover {
    -webkit-box-shadow: rgba(0,0,0,0.75) 0px 0px 20px, inset rgba(0,0,0,0.25) 0px 0px 20px;
    -moz-box-shadow: rgba(0,0,0,0.75) 0px 0px 20px, inset rgba(0,0,0,0.25) 0px 0px 20px;
    -o-box-shadow: rgba(0,0,0,0.75) 0px 0px 20px, inset rgba(0,0,0,0.25) 0px 0px 20px;
    box-shadow: rgba(0,0,0,0.75) 0px 0px 20px, inset rgba(0,0,0,0.25) 0px 0px 20px;
}

.box > img {
    width: 100%;
}

/*** footer ***********************************************************************************************************/

footer {
    padding: 20px;
    color: #555;
    font-size: 1.5em;
    text-align: center;
}

/*** green gradient background ****************************************************************************************/

.green {
    background: #56B870; /* old browsers */
    /* chrome, safari 4+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956));
    background: -webkit-linear-gradient(top, #56B870 0%, #a5c956 100%); /* chrome 10+, safari 5.1+ */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); /* firefox 3.6+ */
    background: -o-linear-gradient(top, #56B870 0%, #a5c956 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%, #a5c956 100%); /* internet explorer 10+ */
    background: linear-gradient(top, #56B870 0%, #a5c956 100%); /* W3C */
}

/*** red gradient background ******************************************************************************************/

.red{
    background: #C655BE; /* old browsers */
    /* chrome, safari 4+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404));
    background: -webkit-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* chrome 10+, safari 5.1+ */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* firefox 3.6+ */
    background: -o-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* internet explorer 10+ */
    background: linear-gradient(top, #C655BE 0%, #cf0404 100%); /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}
